*{
  margin: 0 auto;
  box-sizing: border-box;

   font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  min-width: 320px;
  padding: 0px 15px;
}
.header{
  background-image: url(../images/header_bg.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_contacts{
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
  padding-top: 47px;
}
.tell{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #fff;
}
.under_key{
  margin-top: 105px;
  margin-bottom: 30px;
}
.key_body{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}
.key_head{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 107px;
text-transform: uppercase;
color: #FFFFFF;
}
.header_footer{
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
}
.inner_text{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 30px;
}
.inner_btn{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 13px;
color: #fff;
line-height: 21px;
text-transform: uppercase;
margin-bottom: 70px;
padding: 15px 55px;
border: 1px solid #5A0D67;
background-color: #5A0D67;
}
.inner_btn:hover{
  color: #5A0D67;
  background-color: #fff;
  border: 1px solid #000;
  transition-duration: 0.5s;
}
.inner_icons{
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  width: 120px;
}
.inner_btn_btn{

  width: 250px;
}
.service{
  margin-top: 300px;
  margin-bottom: 100px;
}
.service_header{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
position: relative;
margin-bottom: 50px;

color: #21062A;
}
.service_header::after{
  content: "";
  height: 2px;
  position: absolute;
  width: 80px;
  background-color: #21062A;
  color: #21062A;
  margin-top:25px;
  margin-left: 5px;
}
.box_text{
  margin-bottom: 96px;
  width: 506px;
}
.service_box_header{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* акцент */

color: #5A0D67;
}
.service_box_body{
  margin-top: 12px;
}
.service_box{
display: flex;
justify-content: space-between;
max-width: 1070px;
}
.service_btn_block{

  width: 450px;
  border: 2px solid  #C4C4C4;
  padding: 7px 47px 5px 20px;
  margin-left: 100px;

}
.service_btn{
  width: 368px;
  display: flex;
  justify-content: space-between;
}
.number{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #C4C4C4;
transform: rotate(-90deg);
}

.service_btn_block:hover{
  width: 500px;
  border: 2px solid #5A0D67;
  transition-duration: 0.4s;
}
.service_inner{
  max-width: 500px;
}
.btn_block_head{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
color: #2C2B2B;
}
.btn_block_body{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;
}
.service_btn_block:hover .number{
  color: #5A0D67;
  transition-duration: 0.4s;
}
.service_btn_block:hover .btn_block_head{
color: #5A0D67;
transition-duration: 0.4s;
}
.service_btn_block+.service_btn_block{
  margin-top: 12px;
}
.why_box{
  display: flex;
  justify-content: space-between;
}
.why_text_box{
  background: #21062A;
  height: 507px;
  width: 785px;

}
.text_box_block{
  color: #FFFFFF;
  padding-top: 20px;
  /* padding-left: 185px; */
  max-width: 320px;
    margin: auto;
}
.box_block_header{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
}
.box_block_body{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;

}
.box_block_footer{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
color: #C4C4C4;
width: 316px;

}
.gallery{
  margin: 100px 0px 153px 0px;
}
.gallery_box{
  display: grid;
  grid-template-areas: "a1 a2 a3";
  max-width: 1200px;
}
.gallery_block:nth-of-type(1){
  grid-area: a1;
}
.gallery_block:nth-of-type(2){
  grid-area: a2;
}
.gallery_block:nth-of-type(3){
  grid-area: a3;
}
.gallery_block{
  display: inline-block;
  /* height: 350px; */
  border: 2px solid #C4C4C4;
  padding: 7px 4px 6px 6px;
}


.gallery_hed{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #2C2B2B;
text-align: center;
margin: 23px 0px 5px 0px;
}
.gallery_body{
  text-align: center;
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #2C2B2B;
}
.gallery_block:hover{
  background-color: #5A0D67;
  transition-duration: 0.7s;
}
.gallery_block:hover .gallery_hed{
  color: #fff;
  transition-duration: 0.7s;
}
.gallery_block:hover .gallery_body{
  color: #fff;
  transition-duration: 0.7s;
}
.contacts_box{
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
}
.contacts_text_block{
  width: 174px;
}
.contacts_text_block+.contacts_text_block{
  padding-top: 20px;
}
.text_block_hed{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

/* акцент */

color: #5A0D67;
}
.text_block_body{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #2C2B2B;
}
.text_block_footer{
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
color: #2C2B2B;
}
.service_header_header{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
position: relative;
margin-bottom: 16px;
text-align: center;
margin-top: 50px;

color: #FFFFFF;
}
.service_header_header::after{
  content: "";
  height: 2px;
  position: absolute;
  width: 80px;
  background-color: #FFFFFF;;
  margin-top:25px;
  margin-left: 5px;
}
.colr_class{
  width: 600px;
height: 466px;
background: #21062A;
}
.contacts_input_block{
  padding: 24px 0px;
  border: 1px solid #fff;
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
width: 450px;
text-align: center;
margin: 0 auto;
color: #C4C4C4;
}
.contacts_input_block+.contacts_input_block{
  margin-top: 12px;
}
.contacts_btn{
  width: 250px;
  margin: 0 auto;
  margin-top: 78px;
}
.contacts_header{
  margin-top: 50px;
}
.footer_box{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.footer{

  background-size: cover;
background-color: #21062A;
height: 100px;


}
.footer_icons{
  padding-top: 15px;
}
.polit{
  padding-top: 15px;
  font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* белый */

color: #FFFFFF;
}
@media(max-width:1221px){
  .container{
    max-width: 1000px;
  }
  .header_inner img{
    max-width: 700px;
  }
  .service_header{
    font-size: 20px;
  }
  .box_text{
    max-width: 370px;
    font-size: 15px;
    }
    .service_box{
      max-width: 870px;
    }
    .why_text_box{
      width: 570px;
    } 
    .gallery_box{
      grid-template-areas: "a1 a2""a3 a3";
      grid-column: auto;
      gap: 5px;
      max-width: 800px;
      margin: auto;
    }
    .gallery_img{
      display: block;
      margin: auto;
    }
    .contacts_box{
      max-width: 800px;
      margin: auto;
    }
    .footer_box{
      max-width: 800px;
      margin: auto;
    }
}
@media (max-width:1009px){
  .container{
    max-width: 500px;
  }
  .header_contacts{
    max-width: 500px;
  }
  .header_contacts img{
    max-width: 130px;
  }
  .header_contacts a{
    font-size: 20px;
  }
  .under_key{
    margin-top: 30px;
  }
  .key_head{
    font-size: 30px;
    line-height: 45px;
    /* max-width: 220px; */
  }
  .key_body {
    font-size: 20px;
    line-height: 30px;
    /* max-width: 210px; */
}
.inner_btn{
  text-align: center;
  max-width: 170px;
  padding: 10px;
  font-size: 12px;
  margin: 0;
}
.header{
  height: 420px;
}
.header_inner img {
  max-width: 220px;
  padding-top: 85px;
}
.inner_icons{
  margin: 0;
  /* margin-top: 25px; */
  align-items: center;

}
.inner_icons a img{
  width: 20px;
  height: 20px;
}

.service{
  margin-top: 40px;
}
.service_header{
  font-size: 16px;
  margin-bottom: 10px;
}
.service_header::after{
 
  width: 50px;
}
.service_inner{
  max-width: 230px;
}
.service_box_header{
  font-size: 13px;
}
.box_text{
  max-width: 200px;
  font-size: 10px;
  margin-bottom: 30px;
  }
  .service_box{
    max-width: 390px;
  }
  .service_btn{
    width: 150px;
  }
  .service_btn_block{
    padding: 0;
    padding-left: 10px;
    margin: 0;
  }
  .number{
    font-size: 10px;
  }
  .btn_block_head{
    font-size: 10px;
    line-height: 0;
    display: inline-block;
  }
  .btn_block_body{
    font-size: 8px;
    display: inline-block;

  }
  .service_btn_block{
    width: 180px;
  }
  .service_btn_block:hover{
    width: 230px;

  }
  .btn_block-text{
    padding: 5px;
  }
  .why_box{
    max-width: 440px;
  }
  .why_box_inner:nth-of-type(1){
    max-height: 380px;
    padding-top: 130px;
  }
  .why_box_inner img{
    max-width: 200px;
  }
  .why_text_box{
    max-width: 200px;
    height: 430px;
  } 
  .box_block_header{
    font-size: 20px;
    line-height: 10px;
  }
  .box_block_body{
    font-size: 13px;
    line-height: 30px;
  }
  .box_block_footer{
    font-size:  13px;
    line-height: 17px;
    max-width: 150px;
  }
  .text_box_block{
    max-width: 140px;
  }
  .gallery_box{
    grid-template-areas: "a1" "a2" "a3";
    grid-column: auto;
    gap: 5px;
    max-width: 800px;
    margin: auto;
  }
  .gallery_img{
    display: block;
    margin: auto;
  }
  .gallery {
    margin: 100px 0px 70px 0px;
}
  .contacts_box{
    max-width: 400px;
    margin: auto;
  }
  .footer_box{
    max-width: 800px;
    margin: auto;
  }

  .text_block_hed{
    font-size: 12px;
    line-height: 20px;

  }
.text_block_body{
  font-size: 14px;
    line-height: 20px;
}
.text_block_footer{
  font-size: 12px;
    line-height: 20px;
}
.contacts_text_block+.contacts_text_block {
  padding-top: 10px;
}
.contacts_header{
  margin-bottom: 0;
  margin-top: 10px;
}
.colr_class {
  width: 200px;
  height: 280px;
  
}
.service_header_header{
  font-size: 16px;
  line-height: 47px;
  margin-top: 20px;
}
.service_header_header::after{
  width: 30px;
}
.contacts_input_block{
  width: 170px;
  font-size: 13px;
  padding: 10px 0;
}
.contacts_btn{
  margin: auto;
  margin-top: 10px;
}
.footer_icons{
  padding: 0;
  /* margin-top: 15px; */
}
.footer_box img{
  max-width: 130px;
}
.polit{
  font-size: 11px;
  line-height: 5px;
}
.inner_icons:nth-of-type(2){
  margin-top: 10px;
}
}
@media(max-width:485px){
  .container{
    max-width: 290px;
  }
  .header_contacts{
    max-width: 290px;
    padding-top: 10px;
  }
  .header_contacts img{
    max-width: 80px;
  }
  .header_contacts a{
    font-size: 12px;
  }
  .under_key{
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .key_head{
    font-size: 16px;
    line-height: 20px;
    /* max-width: 220px; */
  }
  .key_body {
    font-size: 11px;
    line-height: 20px;
    /* max-width: 210px; */
}
.headeer_inner{
  max-width: 120px;
}
.inner_text{
  font-size: 8px;
  line-height: 14px;
  margin-bottom: 15px;
}
.inner_btn{
  text-align: center;
  max-width: 120px;
    padding: 5px;
    font-size: 10px;
  margin: 0;
}
.header{
  height: 235px;
}
.header_inner img {
  max-width: 175px;
  padding-top: 30px;
}
.inner_icons{
  margin: 0;
  /* margin-top: 25px; */
  align-items: center;
  max-width: 100px;

}
.inner_icons a img{
  width: 16px;
  height: 16px;
}

.service{
  margin-top: 10px;
  margin-bottom: 30px;
}
.service_header{
  font-size: 12px;
  margin-bottom: 0px;
}
.service_header::after{
 
  width: 25px;
}
.service_inner{
  max-width: 145px;
}
.service_box_header{
  font-size: 7px;
}
.service_box_body{
  margin: 0;
  font-size: 6px;
}
.box_text{
  max-width: 135px;
  font-size: 10px;
  margin-bottom: 5px;
  }
  .service_box{
    max-width: 270px;
  }
  .service_btn{
    width: 150px;
    max-height: 25px;
  }
  .service_btn_block{
    padding: 0;
    padding-left: 10px;
    margin: 0;
    width: 135px  ;
  }
  .number{
    font-size: 10px;
    line-height: 20px;
  }
  .btn_block_head{
    font-size: 7px;
    line-height: 1px;
    display: block;
  }
  .btn_block_body{
    font-size: 6px;
    display: block;
    line-height: 15px;

  }
  /* .service_btn_block{
    width: 180px;
  } */
  .service_btn_block:hover{
    width: 145px;

  }
  .btn_block-text{
    padding: 7px 35px 7px 1px
  }
  .why_box{
    max-width: 440px;
  }
  .why_box_inner:nth-of-type(1){
    max-height: 380px;
    padding-top: 60px;
  }
  .why_box_inner img{
    max-width: 145px;
  }
  .why_text_box{
    max-width: 145px;
    height: 285px;
  } 
  .box_block_header{
    font-size: 18px;
    line-height: 10px;
  }
  .box_block_body{
    font-size: 11px;
    line-height: 25px;
  }
  .box_block_footer{
    font-size:  9px;
    line-height: 12px;
    max-width: 150px;
  }
  .text_box_block{
    max-width: 140px;
  }
  .gallery_box{
    grid-template-areas: "a1" "a2" "a3";
    grid-column: auto;
    gap: 5px;
    max-width: 800px;
    margin: auto;
  }
  .gallery_img{
    display: block;
    margin: auto;
    max-width: 275px;
  }
  .gallery {
    margin: 30px 0px 30px 0px;
}
.gallery_hed{
  font-size: 14px;
  margin-top: 5px;
}
.gallery_body{
  font-size: 13px;
    line-height: 12px;
}
.contacts_inner{
  max-width: 145px;
}
  .contacts_box{
    max-width: 400px;
    margin: auto;
  }
  .footer_box{
    max-width: 800px;
    margin: auto;
  }

  .text_block_hed{
    font-size: 9px;
    line-height: 10px;

  }
.text_block_body{
  font-size: 10px;
    line-height: 10px;
}
.text_block_footer{
  font-size: 9px;
    line-height: 10px;
}
.contacts_text_block+.contacts_text_block {
  padding-top: 10px;
}
.contacts_header{
  margin-bottom: 0;
  margin-top: 10px;
}
.colr_class {
  width: 200px;
  height: 185px;
  
}
.service_header_header{
  font-size: 11px;
    line-height: 18px;
  margin: 10px 0;
}
.service_header_header::after{
  width: 20px;
  margin-top: 8px;
}
.contacts_input_block{
  width: 130px;
  font-size: 11px;
  padding: 5px 0;
}
.contacts_btn{
  margin: auto;
  margin-top: 10px;
}
.footer_icons{
  padding: 0;
  /* margin-top: 15px; */
}
.footer_box{
  padding-top: 20px;
}
.footer{
  height: 60px;
}
.footer_box img{
  max-width: 70px;
  
}
.polit{
  font-size: 9px;
  line-height: 5px;
  padding-top: 8px;
}
.inner_icons:nth-of-type(2){
  margin-top: 10px;
}
}